$color-primary: #ce00ce;
$color-accent:  #00e8c7;
$color-text:    #171717;
$color-alert:   #ef3939;
$color-inactive:#c2f3ec;
$color-selection: #f1bbf1;

$font: "Courier New", Courier, monospace;
// $font: "Roboto Mono", Courier, monospace;
// $font: "Source Code Pro", Courier, monospace;

$app-margin: 16px;
